.footer {
    background: var(--hero-footer-color);
}

.footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo-web {
    display: block;
    margin-bottom: 20px;
    color: var(--link-logo-color);
    font-family: 'Raleway';
    @include font(24px, 700, 1.16, 0.03em);
    @media screen and (min-width: 1200px) {
        @include font(26px, 700, 1.19, 0.03em);
        }
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.link-map {
    @include font(14px, 400, 1.71, 0.03em);
    color: var(--brand-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--link-logo-color);
        }
}
.link-mail {
    @include font(14px, 400, 1.71, 0.03em);
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--link-logo-color);
    }
}

.link-tell {
    @include font(14px, 400, 1.71, 0.03em);
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--link-logo-color);
            }
}

.contact-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:60px 165px;
    align-items: baseline;
    text-align: center;
    justify-content: center;
    @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    align-items: baseline;
    gap:0;
        }
}

.footer-link {
    @media screen and (min-width: 1200px) {
    margin-right: 70px;
    }
}

    
.footer-title {
    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--brand-color);
    margin-bottom: 20px;
}
.footer-subscribe {
    position: relative;
}
.subscribe-title {
    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--brand-color);
    margin-bottom: 20px;
}

.subscribe-form {
    @media screen and (min-width: 1200px) {
    display: flex;
}}

.subscribe-btn {
    min-width: 200px;
    height: 50px;
    background: var(--link-logo-color);
    border-width: 0;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    @include font(16px, 700, 1.87, 0.06em);
    text-align: center;
    color: var(--brand-color);
    padding: 10px 62px 10px 29px;
    position: relative;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    fill: var(--brand-color);
    position: absolute;
    top: 12px;
    right: 28px;
}

.footer-conection {
    align-items: baseline;
    @media screen and (min-width: 1200px) {
    margin-right: auto;
}
}
.subscribe-input {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 40px;
    outline: none;
    padding: 15px;
    background: transparent;
    color: var(--brand-color);
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
            width: 358px;
            margin-right: 12px;
}
}
.subscribe-input:focus {
    border-color: var(--link-logo-color);
}
.soc-link {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    &:last-child {
    margin-right: 0;
}
}

.conection-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: #2196F3;
}
}

.soc-lict {
    display: flex;
    justify-content: center;
}

.conection-link:hover .soc-icon,
.conection-link:focus .soc-icon {
    fill: var(--brand-color);
}