.hero .container {
    padding: 0;
}
.hero {
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    text-align: center;
    background-color:var(--hero-footer-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../../images/hero-mob.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                            url(../../images/hero-mob2x.jpg);}
    
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../../images/hero-tab.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../../images/hero-tab2x.jpg);
        }
    }
    @media screen and (min-width: 1200px) {
            height: 600px;
            padding-top: 200px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../../images/fon-hero.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../../images/hero-dex-2x.png);
        }
    }

}

.hero__title {
    @include font(26px, 900, 1.62, 0.06em);
    text-align: center;
    margin: 0 auto 30px;
    text-transform: uppercase;
    color: var(--brand-color);
    width: 360px;
    @media screen and (min-width: 1200px) {
        width: 696px;
        @include font(44px, 900, 1.36, 0.06em);
    }
   
}